body {
	max-width: 1480px;
	min-height: 4600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: #414042;
	font-family: 'LatoWeb';
	/*flex-grow: 1;*/
	position: relative;
	/*min-width: 483px;*/
	min-width: 445px;
}
body::-webkit-scrollbar {
    width: 0px;
}
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	/*border: 1px solid black;*/
}

header {
	display: flex;
	min-height: 800px;
	justify-content: space-between;
	position: relative;
	border-bottom: 4px solid #4bcaff;
	/*box-sizing: border-box;*/
	overflow: hidden;
	align-items: stretch;
}
header > .slider {
	min-height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	/*z-index: 0;*/
	overflow: hidden;
}
header  * {
	/*border: 1px solid black;*/
}
header > .slider > button {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	background-color: rgba(75, 202, 255, 0.2); /*#4bcaff*/
	border: none;
	margin: 0 70px;
	z-index: 2;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.button_left{
	left: 0;
}
.button_right{
	right: 0;
}
header > .slider > button:hover {
	background-color: rgba(75, 202, 255, 1); /*#4bcaff*/
}
header > .slider > button:focus {
	outline: none;
}
header > .slider > button > svg > .cls-1 {
	/*fill: #fff;*/
}
header > .slider > button:hover .cls-1 {
	fill: #414042;
}
header > .slider > div {
	display: flex;
	align-self: flex-end;
	justify-content: center;
	display: flex;
	align-items: center;
	/*margin-bottom: 17px;*/
	z-index: 2;
	flex-wrap: wrap;
	position: absolute;
	bottom: 17px;
	/*margin: 0 auto;*/
	right: 0;
	left: 0;
}
header > .slider > div > input {
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 50%;
	box-sizing: content-box;
	border: 1px solid #fff;
	margin: 5px;
	outline: none;
}
header > .slider > div > input:hover {
	height: 14px;
	width: 14px;
	margin: 3px;
}
header > .slider > div > input:checked {
	background-color: #4bcaff;
	border-color: #4bcaff;
	height: 14px;
	width: 14px;
	margin: 3px;
}
header > .slider > div > label {
	/*display: none;*/
	height: 10px;
	width: 10px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 50%;
	border: 1px solid #fff;
	margin: 5px;
}
header > .slider > div > label:hover {
	height: 14px;
	width: 14px;
	margin: 3px;
}
header > .slider > div > input:checked + label {
	background-color: #4bcaff;
	border-color: #4bcaff;
	height: 14px;
	width: 14px;
	margin: 3px;
}
header > .slider > div > button:focus {
	outline: none;
}
input[name="radio"] {
	display: none;
}
#radio-2:checked ~ .slide-wrap {
	margin-left: -100%;
}
#radio-3:checked ~ .slide-wrap {
	margin-left: -200%;
}
.slide-wrap {
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	display: grid;

	grid-template-columns: 1fr 1fr 1fr;
	flex-grow: 1;
	min-width: 300%;
}
.slide-wrap__slide {
	display: flex;
	flex-grow: 1;
	width: 100%;
	background: #414042 url(images/1header/header_background.png) center center no-repeat;
	background-size: cover;
	/*position: absolute;*/
	/*left: 100%;*/
	/*right: 0;*/
	overflow: hidden;
}
/*.slide-wrap__slide:nth-child(2) {
	left: 0;
}*/
.main__filter {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(15px) saturate(1) contrast(1) brightness(1.15);
}
.main__content-befor {
	display: flex;
	max-width: 626px;
	flex-grow: 1;
	min-height: 100%;
	background: url(images/1header/header_iphone.png) bottom -149px right 0px no-repeat;
	box-sizing: border-box;
	z-index: 1;
	transition: 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.main__content {
	display: flex;
	flex-direction: column;
	max-width: 672px;
	min-height: 800px;
	flex-grow: 1;
	box-sizing: border-box;
	margin: 0px 27px;
	z-index: 1;
}
.main__content__caption {
	display: flex;
	flex-grow: 1;
	flex-basis: 50%;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 100px 0px 1px;
	box-sizing: border-box;
	width: 100%;
}
.main__content__caption > h1 {
	width: 100%;
	font: normal 48px 'LatoWebLight';
	color: #fff;
	text-shadow: rgba(24,22,24,0.36) 0px 1px 3px;
	letter-spacing: -0.01em;
}
.main__content__caption > h1 > span {
	font: normal 48px 'LatoWebBold';
}
.main__content__text {
	display: flex;
	flex-grow: 1;
	flex-basis: 50%;
	padding: 15px 0px 46px 0px;
	padding-right: -27px;
	box-sizing: border-box;
	flex-wrap: wrap;
	align-content: flex-start;
}
.main__content__text > p{
	display: block;
	width: 100%;
	font: normal 18px 'LatoWebLight';
	color: #fff;
	hyphens: auto;
	letter-spacing: -0.015em;
	/*text-align: center;*/
}
.main__content__text > .buttons {
	display: flex;
	width: 100%;
	margin: 35px 0px 46px;
	flex-wrap: wrap;
}
.main__content__text > .buttons > div {
	display: flex;
	max-width: 470px;
	flex-grow: 1;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -17px;
}
.main__content__text > .buttons > div > button {
	display: flex;
	justify-content: center;
	flex-grow: 1;
	align-items: center;
	height: 65px;
	max-width: 195px;
	min-width: 150px;
	background-color: rgba(114,179,204,0); /*#72b3cc*/
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 8px;
	font: normal 15px 'LatoWebBold';
	color: #fff;
	text-transform: uppercase;
	margin: 3px 20px;
	outline: none;
	transition: 75ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.main__content__text > .buttons > div > button:hover {
	height: 61px;
	background-color: #4bcaff;
	border: none;
	color: #fefefe;
	margin-bottom: 7px;
	box-shadow: #277697 0px 4px 0px;
}
.main__content__text > .buttons > div > button:active {
	position: relative;
	/*top: 4px;*/
	transform: translateY(4px);
	box-shadow: none;
}
.main__content__text > span {
	display: inline-flex;
	align-items: center;
	width: 100%;
}
.main__content__text > span > .avai {
	font: normal 18px 'LatoWebLight';
	color: #fff;
	padding-right: 7px;
	outline: none;
}
.main__content__text > span > .mlogor {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 53px;
	width: 53px;
	border-radius: 50%;
	background-color: rgba(3,3,3,0.35); /*#030303*/
	/*background: rgba(3,3,3,0.35) url(images/android.svg) center center no-repeat;*/
	vertical-align: middle;
	margin-left: 15px;
}
.main__content__text > span > .mlogor use {
	fill: #fff;
}
.main__content__text > span > .mlogor:hover use{
	fill: #4bcaff;
}
@media screen and (max-width: 980px) {
	header > .slider > button {height: 100%; width: 20px; border-radius: 0; margin: 0;}
	.main__content__caption > h1 {text-align: center;}
	.main__content__text > p {text-align: justify; text-align-last: center}
	.main__content__text {align-items: center;}
	.main__content-befor {visibility: hidden; transform: translateX(-100%)}
	.main__content__text > .buttons {justify-content: center;}
	.main__content__text > span {justify-content: center;}
}

.main__content__text * {
	transition: 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}


.base__menu-icon {
	display: none;
	/*flex-direction: column;*/
	/*justify-content: space-around;*/
	align-items: center;
	height: 25px;
	width: 25px;
	/*border: 1px solid black;*/
}

.base-menu-icon__line, .base-menu-icon__line:before, .base-menu-icon__line:after {
	display: block;
	content: "";
	position: relative;
	height: 2px;
	border-radius: 1px;
	width: inherit;
	background-color: #FFF;
	transition: 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.base-menu-icon__line:before {
	bottom: 8;
}
.base-menu-icon__line:after {
	top: 6;
}
.base__menu-icon.active .base-menu-icon__line:before {
	transform: rotate(45deg);
	bottom: 0;
}
.base__menu-icon.active .base-menu-icon__line:after {
	transform: rotate(-45deg);
	top: -2;
}
.base__menu-icon.active .base-menu-icon__line {
	/*transform: scale(0.5);*/
	/*filter: opacity(0.1);*/
	background-color: transparent;
}
.base.base_top{
	background-color: rgba(7, 7, 7,0.3);
	height: 100px;
}
.base.base_scroll{
	/*background-color: rgba(7, 7, 7);*/
	height: 45px;
}
.base.active {
	height: unset;
}
.base {
	display: flex;
	justify-content: center;
	width: 100%;
	/*flex-grow: 1;*/
	/*height: 100px;*/
	/*background-color: rgba(7, 7, 7,0.3);*/
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
	position: fixed;
	z-index: 10;
	max-width: inherit;
	transition: 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	align-items: stretch;
}
.base .base__container {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	flex-grow: 1;
	overflow: hidden;
	max-width: 1170px;
	margin: 0 30px;
	flex-wrap: wrap;
	/* border: 1px solid black; */
}
.base__logo {
	display: flex;
	align-items: center;
	height: 100%;
	flex-grow: 1;
	/* height: 45px; */
	/* border: 1px solid black; */
}
.base.base_top .base__logo.active {
	height: 100px;
}
.base.base_scroll .base__logo.active {
	height: 45px;
}
.base__icon {
	margin-right: 37px;
	display: flex;
	align-self: center;
	/* border: 1px solid black; */
}
.base__icon > use {
	fill: #4bcaff;
}
.base__menu {
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	overflow: auto;
	/*border: 1px solid black;*/
	transition: 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.base__menu.active {
	display: flex;
	transform: translateY(0);
}
.base__menu > ul {
	display: flex;
	flex-wrap: wrap;
	align-self: stretch;
}
.base__item {
	display: flex;
	align-items: center;
	margin-left: 37px;
}
.base__item:hover  {
	box-shadow: inset 0 2px 0 0 #4bcaff;
}
.base__item:hover  a {
	font-weight: bold;
	color: #4bcaff;
}
.base__item:hover  use {
	fill: #4bcaff;
}
.base__item > a {
	line-height: 100px;
	font: normal 13px 'DroidSans';
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.base__item > svg {
	display: none;
}
@media screen and (max-width: 980px) {
	.base__menu-icon {display: flex;}
	.base__menu > ul {flex-direction: column; flex-grow: 1;}
	.base__menu > ul > li {height: 45px;}
	/*.base_top {height: unset;}*/
	/*.base_scroll {height: unset;}*/
	.base__container {flex-direction: column; justify-content: flex-start;}
	.base__logo {justify-content: space-between; height: unset;}
	.base__menu {justify-content: unset; display: none; transform: translateY(-100%)}
	.base__item {box-shadow: inset  0 1px 0 0 rgba(75, 202, 255, 0.12);}
	.base__item {justify-content: space-between; box-shadow: inset  0 1px 0 0 rgba(255, 255, 255, 0.2); margin-left: 0;}
	.base {backdrop-filter: blur(4px);}
	.base__item:hover  {box-shadow: inset  0 1px 0 0 rgba(255, 255, 255, 0.2);}
	.base__item > svg {display: unset;}
	body.lock {overflow: hidden;}
}



.features {
	display: flex;
	justify-content: center;
	/*width: 100%;*/
	/*flex-grow: 1;*/
	/* min-height: 581px; */
	background-color: #f9f9f9;
	border-bottom: 1px solid #e7e7e7;
}
.features .features__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	overflow: hidden;
	max-width: 1170px;
	margin: 0 30px;
	padding: 45px 0px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
	gap: 45px;
}
.features__caption{
	margin-top: 3px;
}
.features__items {
	margin: 10px 0px 41px;
}
.features-caption {
	display: flex;
	flex-direction: column;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
}
.features-caption .features-caption__title {
	text-align: center;
	font: normal 36px/36px 'LatoWebBlack';
	text-transform: lowercase;
	letter-spacing: 0.007em;
	color: #414042;
}
.features-caption .features-caption__subtitle {
	text-align: center;
	font: normal 20px 'LatoWebLight';
	text-transform: lowercase;
	color: #414042;
}
.features-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* margin: 0 -45px; */
	column-gap: 90px;
	row-gap: 30px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
}
.features-items__item{
	/* margin: 0 45px; */
}
.features-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 225px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
	gap: 18px;
	/* padding: 5px 0px; */
}
.features-item:hover .features-item__round {
	background-color: #414042;
}
.features-item:hover .features-item__title {
	color: #4bcaff;
}
.features-item .features-item__round {
	display: flex;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;
	height: 170px;
	width: 170px;
	border-radius: 50%;
	border: 4px solid #efefef;
	margin: 10px;
	background-color: #4bcaff;;
}
.features-item .features-item__icon{
	width: 70px;
	height: 70px;
}
.features-item .features-item__use{
	fill: #fff;
}
.features-item .features-item__title {
	font: normal 15px 'LatoWebBold';
	color: #414042;
	text-transform: uppercase;
	text-align: center;
	/* margin: 0px 0px 18px; */
}
.features-item .features-item__desc {
	font: normal 13px/22px 'LatoWeb';
	color: #838383;
	text-align: center;
}


.gallery {
	display: flex;
	justify-content: center;
	/*width: 100%;*/
	/*flex-grow: 1;*/
	/* min-height: 574px; */
	background-color: #fff;
}
.gallery .gallery__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	overflow: hidden;
	max-width: 1170px;
	margin: 0 30px;
	padding: 45px 0px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
	gap: 45px;
}
.gallery__caption {
	margin: 2px 0px 0px;
}
.gallery__items {
	margin: 11px 0px 58px;
}
.gallery-caption {
	display: flex;
	flex-direction: column;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
}
.gallery-caption .gallery-caption__title {
	text-align: center;
	font: normal 36px/36px 'LatoWebBlack';
	text-transform: lowercase;
	letter-spacing: 0.007em;
	color: #414042;
}
.gallery-caption .gallery-caption__subtitle {
	text-align: center;
	font: normal 20px 'LatoWebLight';
	text-transform: lowercase;
	color: #414042;
}
.gallery-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/* margin: 0px -15px; */
	gap: 30px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
}
.gallery-items__item{
	/* margin: 0px 15px; */
}
.gallery-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 270px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
	gap: 20px;
}
.gallery-item__screenshot {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 270px;
	height: 200px;
	border-radius: 8px;
	background-color: #4bcaff;
	overflow: hidden;
}
.gallery-item__screenshot:hover .gallery-item__image {
	opacity: 40%;
}
.gallery-item__screenshot:hover  .gallery-item__zoom-icon{
	display: block;
}
.gallery-item__image{
	position: absolute;
}
.gallery-item__zoom-icon {
	display: none;
	position: relative;
	z-index: 2;
	bottom: 11px;
	width: 19px;
	height: 19px;
}
.gallery-item__use {
	fill: #fff;
}
.gallery-item__title {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 41px;
	background-color: rgba(65, 64, 66, .65);
	font: normal 15px 'LatoWebBold';
	color: #4bcaff;
	text-transform: uppercase;
}
.gallery-item__desc {
	font: normal 13px/22px 'LatoWeb';
	color: #838383;
	text-align: center;
	width: 225px;
}


.video {
	display: flex;
	justify-content: center;
	position: relative;
	/*width: 100%;*/
	/*flex-grow: 1;*/
	min-height: 550px;
	background-color: #4bcaff;
}
.video__back {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #4bcaff url(images/4video/video.png) center center no-repeat;
	background-size: cover;
}
.video:hover .video__back{
	filter: opacity(60%);
}
.video .video__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	z-index: 1;
	overflow: hidden;
	max-width: 1170px;
	margin: 0 30px;
}
.video__play-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	width: 115px;
	background-color: rgba(255,255,255,0);
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 8px;
	margin-top: 18px;
}
.video__play-icon {
	width: 30px;
	height: 34px;
}
.video__use {
	fill: #fff;
}
.video__title {
	align-self: stretch;
	text-align: center;
	font: normal 48px 'LatoWebLight';
	color: #fff;
	text-shadow: rgba(24,22,24,0.36) 0px 1px 3px;
	margin: 30px 0px 19px;
	letter-spacing: -0.01em;
}
.video__title > span {
	font-family: 'LatoWebBold';
}
.video__desc {
	display: block;
	max-width: 672px;
	font: normal 18px 'LatoWebLight';
	color: #fff;
	hyphens: auto;
	letter-spacing: -0.015em;
}

.prices * {
	/*border: 1px solid black;*/
}
.prices {
	display: flex;
	justify-content: center;
	/*width: 100%;*/
	/*flex-grow: 1;*/
	/* min-height: 708px; */
	background-color: #fff;
}
.prices .prices__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	overflow: hidden;
	max-width: 1170px;
	margin: 0 30px;
	padding: 45px 0px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
	gap: 45px;
}
.prices__caption {
	margin: 24px 0px 0px;
}
.prices__items {
	margin: 9px 0px 23px;
}
.prices-caption {
	display: flex;
	flex-direction: column;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
}
.prices-caption .prices-caption__title {
	text-align: center;
	font: normal 36px/36px 'LatoWebBlack';
	text-transform: lowercase;
	letter-spacing: 0.007em;
	color: #414042;
}
.prices-caption .prices-caption__subtitle {
	text-align: center;
	font: normal 20px 'LatoWebLight';
	text-transform: lowercase;
	color: #414042;
}
.prices-items {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* margin: 0 -31px; */
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
	gap: 62px;
	padding: 20px 0px;
}
.prices-items__item_professional {
	margin: -20px -35px;
}
.prices-item {
	/*display: flex;*/
	width: 300px;
	height: 415px;
	background-color: #f9f9f9;
	border: 1px solid #dad7d7;
	border-radius: 4px;
	text-align: center;
	padding-top: 5px;
	/*box-sizing: border-box;*/
}
.prices-item_professional {
	width: 370px;
	height: 455px;
}
.prices-item_professional .prices-item__title {
	color: #4bcaff;
	font-size: 22px;
}
.prices-item_professional .prices-item__desc {
	color: #4bcaff;
}
.prices-item_professional .prices-item__price {
	margin-bottom: 19px;
}
.prices-item_professional .prices-item__button {
	margin-top: 18px;
}
.prices-item__title {
	color: #d7d7d7;
	text-transform: uppercase;
	font: normal 17px 'LatoWebBold';
	line-height: 65px;
	letter-spacing: -0.033em;
}
.prices-item__price {
	color: #fff;
	margin-bottom: 21px;
	font: normal 85px 'DroidSansBold';
	text-shadow: rgba(24,22,24,0.3) 0px 1px 2px;
	line-height: 115px;
	letter-spacing: -0.05em;
}
.prices-item__desc {
	color: #d7d7d7;
	font: normal 18px 'LatoWebBold';
	line-height: 40px;
}
.prices-item__button {
	width: 171px;
	height: 49px;
	border: none; 
	border-radius: 3px;
	color: #fefefe;
	text-transform: uppercase;
	font: normal 15px 'LatoWebBold';
	/*line-height: 11px;*/
	margin-top: 20px;
}
.prices-item_basic .prices-item__price {
	background-color: #91c46b;
}
.prices-item_basic .prices-item__button {
	background-color: #91c46b;
}
.prices-item_basic .prices-item__button:hover {
	background-color: #82b060;
}
.prices-item_basic .prices-item__button:active {
	background-color: #749d56;
}
.prices-item_professional .prices-item__price {
	background-color: #4bcaff;
}
.prices-item_professional .prices-item__button {
	background-color: #4bcaff;
}
.prices-item_professional .prices-item__button:hover {
	background-color: #43b6e5;
}
.prices-item_professional .prices-item__button:active {
	background-color: #3ca2cc;
}
.prices-item_advanced .prices-item__price {
	background-color: #fd7c00;
}
.prices-item_advanced .prices-item__button {
	background-color: #fd7c00;
}
.prices-item_advanced .prices-item__button:hover {
	background-color: #e47000;
}
.prices-item_advanced .prices-item__button:active {
	background-color: #ca6300;
}
@media screen and (max-width: 1089px) {
	/* 1090-1 */
	.prices-item_professional {order: 1;}
}
@media screen and (max-width: 725px) {
	/* 726-1 */
	.prices-item_professional {order: 0;}
}


.testimonials {
	display: flex;
	justify-content: center;
	/*width: 100%;*/
	/*flex-grow: 1;*/
	min-height: 380px;
	background-color: #f9f9f9;
	border-top: 1px solid #e7e7e7;
}
.testimonials .testimonials__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
	position: relative;
	max-width: 1170px;
	margin: 0 30px;
	padding: 38px 0px 38px;
}
.testimonials__caption{
	margin: 0px 0px 15px;
}
.testimonials-caption {
	display: flex;
	flex-direction: column;
}
.testimonials-caption .testimonials-caption__title {
	text-align: center;
	font: normal 36px/36px 'LatoWebBlack';
	letter-spacing: 0.011em;
	color: #414042;
	position: relative;
	left: 1px;
}
.testimonials-slider {
	display: flex;
	flex-direction: column;
	/*align-self: center;*/
	padding-bottom: 30px;
	position: relative;
	/*border: 1px solid black;*/
	/*height: 100%;*/
	/* margin-bottom: 38px; */
}
.slide1 {
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.slide1__u-pic {
	width: 200px;
	height: 200px;
	min-width: 200px;
	min-height: 200px;
	/* border: 1px solid black; */
}
.slide1__u-pic > pattern > rect {
	width: 200px;
	height: 200px;
	fill: #4BCAFF;
}
.slide1__u-pic > pattern > use {
	fill: #fff;
}
.testimonials-slide1__comment {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font: normal 14px 'LatoWebBold';
	color: #4bcaff;
	line-height: 18px;
	box-sizing: border-box;
	max-width: 350px;
	letter-spacing: -0.009em;
	margin-right: 20px;
	/*border: 1px solid black;*/
	padding: 10px 8px 0px;
}
.testimonials-slide1__comment > span {
	text-align: right;
	font-style: italic;
	margin-right: 8px;
}
.testimonials-slide1__comment > span:last-child {
	margin-right: 4px;
}
.testimonials-slider__navbar {
	/*border: 1px solid black;*/
	align-self: center;
	position: absolute;
	bottom: 0px;
	/*margin-bottom: 35px;*/
}
.testimonials-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}
.testimonials-navbar__input {
	display: none;
}
#tstmnls-input1:checked ~ .testimonials-navbar .testimonials-navbar__button:nth-child(1),
#tstmnls-input2:checked ~ .testimonials-navbar .testimonials-navbar__button:nth-child(2),
#tstmnls-input3:checked ~ .testimonials-navbar .testimonials-navbar__button:nth-child(3) {
	background-color: rgba(75, 202, 255, 1);
}
#tstmnls-input1:checked ~ .testimonials-slider__wrap .testimonials-slider__inner {
	margin-left: 0;
}
#tstmnls-input2:checked ~ .testimonials-slider__wrap .testimonials-slider__inner {
	margin-left: -100%;
}
#tstmnls-input3:checked ~ .testimonials-slider__wrap .testimonials-slider__inner {
	margin-left: -200%;
}
.testimonials-navbar__button {
	width: 50px;
	height: 6px;
	background-color: rgba(75, 202, 255, 0.32);
	margin: 1px 4px;
}
.testimonials-navbar__button:hover {
	width: 56px;
	margin: 1px 1px;
}
#testimonials_user-photo-box > path {
	fill: url(#u-pic-back);
}
#testimonials_user-photo-box {
	stroke: #fff;
	stroke-width: 7px;
}


.testimonials-slider{
	display: flex;
	flex-grow: 1;
	/*width: 100%;*/
	/*max-width: 570px;*/
	/*overflow: hidden;*/
}
.testimonials-slider__inner {
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: stretch;
	width: 300%;
	/*border: 1px solid black;*/
	/*background-color: #f00;*/
	/*overflow: hidden;*/
}
.sraka1{
	background-color: #00f;
	overflow: hidden;
}
.testimonials-slider__wrap {
	/*display: flex;*/
	/*justify-content: center;*/
	/*width: 100%;*/
	/*flex-grow: 1;*/
	/*background-color: #0f0;*/
	overflow: hidden;
	border: 1px solid black;
}
.testimonials-navbar__input[id="tstmnls-input1"]:checked + label {
	ma
}
.testimonials-navbar__input[id="tstmnls-input2"]:checked + label {
	background-color: rgba(75, 202, 255, 1);
}
.testimonials-navbar__input[id="tstmnls-input3"]:checked + label {
	background-color: rgba(75, 202, 255, 1);
}


.download *{
	border: 1px solid black;
}
.download {
	display: flex;
	justify-content: center;
	/*width: 100%;*/
	/*flex-grow: 1;*/
	min-height: 210px;
	background-color: #414042;
}
.download .download__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
	max-width: 1170px;
	margin: 0 30px;
}
	/*margin: 0 -17px;*/
.download__title {
	font: normal 55px 'LatoWebBold';
	color: #fff;
	text-align: center;
	text-shadow: rgba(24,22,24,0.36) 0px 1px 3px;
	letter-spacing: -0.056em;
	margin: 28px 0px 18px;
}
.download__download-button {
	display: flex;
	justify-content: center;
	/*flex-grow: 1;*/
	align-items: center;
	height: 65px;
	width: 195px;
	/*max-width: 195px;*/
	/*min-width: 150px;*/
	background-color: rgba(114,179,204,0); /*#72b3cc*/
	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 8px;
	font: normal 15px 'LatoWebBold';
	color: #fff;
	text-transform: uppercase;
	margin: 3px 20px;
	transition: 75ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.download__download-button:hover {
	height: 61px;
	background-color: #4bcaff;
	border: none;
	color: #414042;
	margin-bottom: 7px;
	box-shadow: #277697 0px 4px 0px;
}
.download__download-button:active {
	position: relative;
	/*top: 4px;*/
	transform: translateY(4px);
	box-shadow: none;
}
.download__download-button:focus {
	outline: none;
}


.contact {
	display: flex;
	justify-content: center;
	/*width: 100%;*/
	/*flex-grow: 1;*/
	min-height: 681px;
	background-color: #fff;
	position: relative;
	overflow: hidden;
}
.contact > iframe {
	position: absolute;
}
.contact .contact__container {
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
	max-width: 1170px;
	margin: 0 30px;
}
.contact-form {
	display: flex;
	flex-direction: column;
	width: 324px;
	height: 460px;
	background-color: rgba(75, 202, 255, 0.8);
	z-index: 2;
	padding: 20px 27px;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px, rgba(0, 0, 0, 0.2) 0px 0px 1px;
	border-radius: 3px/6.333px;
}
.contact-form__title {
	/*align-self: center;*/
	font: normal 36px 'LatoWebBold';
	color: #fff;
	text-align: center;
	margin: 3px 0px 18px;
}
.contact-form__input {
	height: 34px;
	margin-bottom: 15px;
	border: none;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.06) 0px -1px 0px;
}
.contact-form__input[name="name"] {
	margin-bottom: 14px;
}
.contact-form__input::-webkit-input-placeholder {
	text-align: center;
	font: normal 14px 'Arial';
	color: #d3d3d3;
}
.contact-form__input[name="name"]::-webkit-input-placeholder, .contact-form__input[name="email"]::-webkit-input-placeholder {
	transform: translateY(1px);
}
.contact-form__textarea {
	height: 145px;
	margin-bottom: 15px;
	border: none;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.06) 0px -1px 0px;
	resize: none;
}
.contact-form__textarea::-webkit-input-placeholder {
	text-align: center;
	font: normal 14px 'Arial';
	color: #d3d3d3;
	transform: translateY(10px);
}
.contact-form__submit-button {
	position: relative;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 190px;
	height: 45px;
	background-color: #414042;
	box-shadow: #313032 0px 4px 0px;
	border: none;
	border-radius: 6px;
	color: #72b3cc;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px;
	font: normal 15px 'LatoWebBold';
	margin-top: 5px;
	margin-left: 8px;
}
.contact-form__submit-button:hover {
	color: #4bcaff;
}
.contact-form__submit-button:active {
	top: 4px;
	box-shadow: none;
	outline: none;
}
.contact-form__submit-button:focus {
	color: #fff;
	outline: none;
}


.footer {
	display: flex;
	justify-content: center;
	/*width: 100%;*/
	/*flex-grow: 1;*/
	min-height: 110px;
	background-color: #414042;
}
.footer .footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
	max-width: 1170px;
	margin: 0 30px;
	/*overflow: hidden;*/
}
.footer__paragraph {
	font: normal 12px 'LatoWeb';
	color: rgba(254, 254, 254, 0.25);
}
.footer__paragraph:first-child {
	text-align: left;
	margin-right: 15px;
}
.footer__paragraph:last-child {
	text-align: right;
	margin-left: 15px;
}
.footer__article {
	white-space: nowrap;
}
.footer__article_upper {
	text-transform: uppercase;
}

